<a href="/librarian/home">Home</a>
<form method="POST">{% csrf_token %}
    <input type="text" name="search" >
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th><h4>Index</h4></th>
            <th><h4>Name</h4></th>
            <th><h4>Author</h4></th>
            <th><h4>Isbn</h4></th>
            <th><h4>Rack Number</h4></th>
            <th><h4>Issue Frequency</h4></th>
            <th><h4>Last Issued</h4></th>
            <th><h4>Actions</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.rack_number}}</td>
            <td>{{book.issue_freq}}</td>
            <td>{{book.last_issued}}</td>
            <td><a href="/staff/delete_book/{{book.id}}/">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>