<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #4CAF50;
    }
    table {
        border-collapse: collapse;
        margin: 20px auto;
        width: 80%;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #4CAF50;
        color: #fff;
    }
    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
    nav {
        display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4vw 0 2vw;
  height: 9vh;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
      }

      nav a {
        text-decoration: none;
        border-width: 0rem;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  font-weight: 500;
  background-color: white;
  padding: 0px;
      }
  nav a:hover {
    text-decoration: none;
    cursor: pointer;
    background: white;
    transform: scale(1.1);
    transition-duration: 0.25s;
  }
  nav a:focus {
    background-color: white;
  }
      

      nav a:last-of-type {
        margin-right: 0;
      }
      .Libname{
        vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 4.8vh;
  color: black;
  float: left;
  margin: auto 0;
      }
      .styledbuttonbar{
        display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  min-width: 600px;
  padding: 0 1vw 0 1vw;
      }
</style>
<nav>
    <h1 class="Libname">
      library.io
    </h1>
    <div class="styledbuttonbar">
    
    <a href="/member/view_books">View all books</a>
    <a href="/member/view_all_issued">View active issues</a>
    <a href="/member/history">View Issue history</a>
    <a href="/member/reminders">Reminder</a>
    <a href="/member/logout/" id="logout">Logout</a>
  </div>
  </nav>
<table>
    <thead>
        <tr>
            <th><h4>Index</h4></th>
            <th><h4>Name</h4></th>
            <th><h4>Author</h4></th>
            <th><h4>ISBN</h4></th>
            <th><h4>Actions</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td><a href="/member/return/{{book.id}}" style="display: block; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center;">Return</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table> 