<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #4CAF50;
    }
    table {
        border-collapse: collapse;
        margin: 20px auto;
        width: 80%;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #4CAF50;
        color: #fff;
    }
    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
    input[type="text"] {
        padding: 8px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 200px;
    }
    button[type="submit"] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>

<a href="/member/home" style="display: block; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center;">Home</a>

<table>
    <thead>
        <tr>
            <th><h4>Index</h4></th>
            <th><h4>Date</h4></th>
            <th><h4>Book</h4></th>
            <th><h4>Message</h4></th>
            <th><h4>Actions</h4></th>
            <th><h4>Delete Reminder</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for reminder in reminders %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{reminder.reminder_date}}</td>
            <td>{{reminder.book.name}}</td>
            <td>{{reminder.message}}</td>
            {% if reminder.book.is_returned %}
                <td><a href="/member/issue_book/{{reminder.book.id}}/">Issue</a></td>
            {% else %} 
                <td><a href="/member/return/{{reminder.book.id}}">Return</a></td>
            {% endif %}
            <td><a href="/member/delete_reminder/{{reminder.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>