<a href="/member/home">Home</a>
<table>
    <thead>
        <tr>
            <th><h4>Index</h4></th>
            <th><h4>Date</h4></th>
            <th><h4>Book</h4></th>
            <th><h4>Message</h4></th>
            <th><h4>Actions</h4></th>
            <th><h4>Delete Reminder</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for reminder in reminders %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{reminder.reminder_date}}</td>
            <td>{{reminder.book.name}}</td>
            <td>{{reminder.message}}</td>
            {% if reminder.book.is_returned %}
                <td><a href="/member/issue_book/{{reminder.book.id}}/">Issue</a></td>
            {% else %} 
                <td></td>
            {% endif %}
            <td><a href="/member/delete_reminder/{{reminder.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>