<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    a {
        text-decoration: none;
        color: #4CAF50;
    }
    table {
        border-collapse: collapse;
        margin: 20px auto;
        width: 80%;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: rgb(245, 206, 66);
        color: #fff;
    }
    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
    nav {
        display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4vw 0 2vw;
  height: 9vh;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
      }

      nav a {
        text-decoration: none;
        border-width: 0rem;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  font-weight: 500;
  background-color: white;
  padding: 0px;
      }
  nav a:hover {
    text-decoration: none;
    cursor: pointer;
    background: white;
    transform: scale(1.1);
    transition-duration: 0.25s;
  }
  nav a:focus {
    background-color: white;
  }
      

      nav a:last-of-type {
        margin-right: 0;
      }
      .Libname{
        vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 4.8vh;
  color: black;
  float: left;
  margin: auto 0;
      }
      .styledbuttonbar{
        display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  min-width: 600px;
  padding: 0 1vw 0 1vw;
      }
    #logout:hover{
        color: red;
    }
    .dropdown {
  float: left;
  overflow: hidden;
  color: black;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: rgb(245, 206, 66);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
<nav>
    <h1 class="Libname">
      library.io
    </h1>
    <div class="styledbuttonbar">
    <a href="/member/home">Profile</a>
    <a href="/member/view_books">View all books</a>
    <div class="dropdown">
        <button class="dropbtn">Your Issues &darr;
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/member/view_all_issued">View Active Issues</a>
            <a href="/member/history">View Issue History</a>
        </div>
      </div>
    <a href="/member/reminders">Reminder</a>
    <a href="/member/logout/" id="logout">Logout</a>
    
  </div>
  </nav>
<table>
  {% if books|length == 0 %}
        <tr>
            <td colspan="4" style="text-align: center;">No Issues</td>
        </tr>
        {% else %}
    <thead>
        <tr>
            <th><h4>Index</h4></th>
            <th><h4>Name</h4></th>
            <th><h4>Author</h4></th>
            <th><h4>ISBN</h4></th>
            <th><h4>Actions</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td><a href="/member/return/{{book.id}}" style="display: block; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center;">Return</a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table> 