<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #4CAF50;
    }
    table {
        border-collapse: collapse;
        margin: 20px auto;
        width: 80%;
    }
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #4CAF50;
        color: #fff;
    }
    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }

</style>
<a href="/staff/home" style="display: block; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center;">Home</a>

<table>
    {% if requests|length == 0 %}
        <tr>
            <td colspan="4" style="text-align: center;">No requests</td>
        </tr>
        {% else %}
    <thead>
        <th><h4>User</h4></th>
        <th><h4>Book</h4></th>
        <th><h4>Issued From</h4></th>
        <th><h4>Actions</h4></th>
    </thead>
    <tbody>
        
        {% for iter in requests %}
        <tr>
            <td>{{iter.member.user.username}}</td>
            <td>{{iter.book.name}}</td>
            <td>{{iter.issue_date}}</td>
            <td><a href="/staff/approve_return/{{iter.id}}" style="display: block; padding: 10px; background-color: #4CAF50; color: #fff; text-align: center;">Approve return</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>